<template>
  <main class="post individual mx-auto prose xl:prose-lg py-16">
    <div class="px-4 md:px-6 lg:px-8">
      <h1>Page: {{ page.title.rendered }}</h1>
      <!-- eslint-disable-next-line vue/no-v-html -->
      <section v-html="page.content.rendered"></section>
      <pre
        class="max-h-48 overflow-x-hidden"
      ><code>{{ page.content.rendered }}</code></pre>
    </div>
  </main>
</template>

<script>
export default {
  data() {
    return {
      slug: this.$route.params.page,
    }
  },
  computed: {
    pages() {
      return this.$store.state.pages
    },
    page() {
      return this.pages.find((el) => el.slug === this.slug)
    },
    title() {
      return this.pages?.title?.rendered || ''
    },
    content() {
      return this.pages?.content?.rendered || ''
    },
  },
  created() {
    this.$store.dispatch('getPages')
  },
}
</script>
