<template>
  <div class="about">
    <Header
      :title="page.ACF.title"
      :subtitle="page.ACF.subtitle"
      :heading="page.ACF.heading"
    />
    <div></div>
  </div>
</template>

<script>
import Header from '~/components/Header/simple-centered'
export default {
  components: {
    Header,
  },
  data() {
    return {
      slug: 'about',
    }
  },
  computed: {
    pages() {
      return this.$store.state.pages
    },
    page() {
      return this.pages.find((el) => el.slug === this.slug)
    },
  },
  created() {
    this.$store.dispatch('getPages')
  },
}
</script>
