<template>
  <div class="container min-h-screen py-24">
    <div class="space-y-5">
      <Logo />
      <h1 class="text-3xl md:text-5xl lg:text-7xl">squall-nuxt-wp</h1>
      <div class="grid grid-cols-2 gap-3">
        <div class="border-blue-500 border-2 p-3">
          <div
            v-for="(post, index) in posts"
            :key="post.id"
            class="w-full text-blue-500 text-left"
          >
            <NuxtLink :to="'/learn/' + post.slug">
              {{ index }} {{ post.title.rendered }}
            </NuxtLink>
          </div>
        </div>
        <div class="border-red-500 border-2 p-3">
          <div
            v-for="(page, index) in pages"
            :key="page.id"
            class="w-full text-left"
          >
            <NuxtLink :to="page.slug">
              {{ index }} {{ page.title.rendered }}
            </NuxtLink>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  asyncData() {
    return {
      rendering: process.server ? 'server' : 'client',
    }
  },
  computed: {
    pages() {
      return this.$store.state.pages
    },
    posts() {
      return this.$store.state.posts
    },
  },
  create() {
    this.$store.dispatch('getPages')
    this.$store.dispatch('getPosts')
  },
}
</script>

<style>
/* Sample `apply` at-rules with Tailwind CSS
.container {
@apply min-h-screen flex justify-center items-center text-center mx-auto;
}
*/
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>
